.Button{
    -fx-background-color: green;
    -fx-background-radius: 30 30 30 30;
}
.Button:hover{
    -fx-background-color: red;
    -fx-background-radius: 30 30 30 30;
}
.OnlineButtons{
    -fx-background-color: black;
    -fx-background-radius: 30 30 30 30;
    -fx-text-fill: white;
}

.button {
    -fx-background-color: black;
    -fx-background-radius: 30;
    -fx-font-size: 20;
    -fx-text-fill: white;
}

.button:hover{
    -fx-background-color: transparent;
    -fx-border-radius: 30;
    -fx-font-size: 20;
    -fx-text-fill: black;
    -fx-border-width: 2;
    -fx-border-color:black;
}

.hbox {
    -fx-background-color: white;
    -fx-padding: 10px;
    -fx-spacing: 10px;
    -fx-background-color: #ECEBE4;
    -fx-spacing: 260;
    -fx-text-fill: black;
}